@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.cell {
  padding: 0;
  margin: 0;
}

.tab {
  width: auto;
  margin: auto;
}

.but {
  width: 130px;
  padding: 0;
}

.head {
  text-align: center;
  padding: 30px;
}
